<div class="row">
    <a class="col s12 card blue-grey postEntry" href="/post/{{id}}">
        <div class="card-content white-text">
            <span class="card-title">{{title}} - {{user.username}}</span>
            <p>{{text}}</p>
            <p class="right">{{format_time updatedAt}}</p>
        </div>
    </a>
</div>
